@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
}

#logo-title {
    padding: 0px 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #03045e;
    color: white;
    position: fixed;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 40%;
    margin: 15px 0px;
    font-size: 1.3rem;
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-list-item a:hover {
    font-size: 28px;
}

@media (max-width:650px) {
    #logo-title {
        margin: 10px 0px;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
    }
    .nav-list {
        font-size: 0.7rem;
        margin: 10px 0px;
    }
    .nav-list-item a {
        padding: 0px 5px;
    }
    .nav-list-item a:hover {
        font-size: 0.7rem;
    }
}


#welcome-section {
    background-color: #023e8a;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:650px) {
    #welcome-section {
        font-size: 1rem;
    }
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0077b6;
    padding: 5px 0px 30px 0px;
    width: 100%;
}

#projects h2 {
    font-size: 2rem;
    color: white;
    border-bottom: 0.3rem solid white;
}

#projects-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profile-link {
    text-decoration: none;
    color: white;
    background-color: #023e8a;
    padding: 10px;
    margin: 15px 0px;
    transition: 0.3s;
}

#profile-link:hover {
    background-color: #03045e;
}

.project-tile {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    color: black;
    margin: 5px 10px;
}

.project-image {
    width: 100%;
}

.project-name {
    padding: 10px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #023e8a;
    color: white;
    width: 100%;
    text-align: center;
}

@media (max-width:650px) {
    #projects h2 {
        font-size: 1rem;
        border-bottom: 0.2rem solid white;
    }
    #projects-grid {
        flex-direction: column;
    }
    .project-tile {
        width: 90%;
    }
    .project-name {
        font-size: 0.9rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff5400;
    color: white;
    padding: 20px 0px 50px 0px;
}

footer h2 {
    font-size: 2rem;
}

#social-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#social-list li a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#social-list li a:hover {
    font-size: 1.1rem;
}

#social-list i {
    padding: 0px 5px;
}

@media (max-width:650px) {
    footer h2 {
        font-size: 1.2rem;
    }
    #social-list {
        flex-direction: column;
    }
    #social-list li a {
        font-size: 0.8rem;
    }
    #social-list li a:hover {
        font-size: 0.8rem;
    }
}