nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 60%;
    margin: 15px 0px;
    font-size: 25px;
}

.nav-list-item a {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    font-size: 30px;
}