@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body {
    background-color: #a63446;
    margin: auto;
}

h1, h2 {
    font-family: 'Bayon', sans-serif;
}

#logo-title {
    padding: 0px 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000004;
    color: white;
    font-family: 'Bayon', sans-serif;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 60%;
    margin: 15px 0px;
    font-size: 25px;
}

.nav-list-item a {
    text-decoration: none;
    color: white;
}

.nav-list-item a:hover {
    font-size: 28px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.main-container {
    background-color: #fbfef9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 10px;
    width: 85%;
}

.project-title {
    margin: 0;
}

#projects-container {
    width: 45%;
    text-align: center;
    padding: 10px;
}

.demo-button {
    background-color: #0c6291;
    color: white;
}